.nav__mobile { display: none;
    .menu__logo { width: 100%; max-width: 250px; margin: 0 15px 15px 15px;
        svg { 
            .st0 { fill: #fff;}
        }
    }

    .menu__search { padding:0 10px;
        form { position: relative;
            input { font-family: $primaryFont; padding: 10px 15px; background: rgba(white, 0.2); color: #fff; font-size: 16px; border: none; width: 100%; border-radius: 3px;
                &::-webkit-input-placeholder { color: rgba(white, 0.8);}
                &:-moz-placeholder { color: rgba(white, 0.8);}
                &::-moz-placeholder { color: rgba(white, 0.8);}
                &:-ms-input-placeholder { color: rgba(white, 0.8);}
            }

            i { font-size: 18px; color: #fff; position: absolute; right: 15px; top: 50%; transform: translateY(-50%);}
        }
    }

    &.mm-menu { background: linear-gradient(0deg, rgba(darken($primary, 15%),0.9262079831932774) 0%, rgba($primary,1) 100%);

        .mm-panel { padding:0; background-image: url('img/bk-squid-bubbles.png'); background-repeat: no-repeat; background-position: -660px bottom; background-size: 360%; background-color: darken($primary, 10%);
            .mm-navbar {
                .mm-prev {
                    &:before { border-color: $tertiary; width: 11px; height: 11px;}
                    &:after { border-color: $tertiary; width: 11px; height: 11px;}
                }

                .mm-title { color: #fff;}
            }
        }

        .mm-listview { margin:20px 0 0 !important;

            li { margin-left:20px;
                a { color: #fff !important; padding-left:0 !important; font-size: 17px; font-weight: 700; padding: 15px 10px;
                    span { display:inline-block; width:20px; text-align:center; margin-right:3px; font-size:20px; position:relative; top:2px;}

                    &.mm-prev {
                        &:before { border-color: $tertiary; width: 11px; height: 11px;}
                    }

                    &.mm-next {
                        &:after { border-color: $tertiary; width: 11px; height: 11px;}
                    }
                }

                &:after { margin-left:0 !important; left:-20px; border-color: transparent}

                > li > a { padding:20px !important;
                    &.mm-subopen { width:auto;
                        &:after { border-color: $primary;}
                    }

                    &.mm-subclose { margin-top:0 !important; color: $primary !important;
                        &:before { border-color: $primary; margin-bottom:-4px;}
                    }

                    &:hover { color: $primary !important;}
                }

                &.current-menu-item a { color: $primary;}
            }
        }

        .menu__mailchimp { padding: 20px 40px;
            .form__row { padding-bottom: 10px;
                input[type="text"],
                input[type="email"] { border: 1px #fff solid; background: #fff; color: $primary; padding: 10px; width: 100%; box-sizing: border-box; font-family: $primaryFont;
                    &.mce_inline_error { border: 1px tomato solid !important; background: lighten(tomato, 30%);}
                }
    
                button { background: $primary; color: #fff; font-size: 18px; width: 100%; box-sizing: border-box; padding: 15px; text-align: center; border: none; font-family: $primaryFont; font-weight: 800; cursor: pointer;}
    
                &.gdpr { text-align: center;
                    small { font-size: 13px; color: #fff;}
                }
    
                #mce-responses { display: flex;
                    &.clear { clear: none; line-height: 21px; height: auto;}
    
                    .response { border-radius: 5px; margin-top: 20px; padding: 10px 20px; font-size: 14px; font-weight: 500; width: 100%; text-align: center;
                        &#mce-success-response { background: lighten(#64c82d, 50%); color: #64c82d;
                            a { color: #64c82d; text-decoration: underline;}
                        }
    
                        &#mce-error-response { background: lighten(tomato, 34%); color: tomato;
                            a { color: tomato; text-decoration: underline;}
                        }
                    }
                }
            }
        }
    }
}

#mailchimp_signup { 
    .menu__logo { margin: 0 auto;}
}