/*
*	Pagination
*/

/* Pagination */
.pagination { font-size: 18px; line-height: 13px; overflow: hidden; padding: 10px 5px; display: flex; align-items: center; justify-content: space-between;
    @include breakpoint(ipad_p) { padding: 0 10px;}

    .page__count { padding: 14px 0; color: $text;}
    .page__numbers { display: flex; align-items: center; justify-content: flex-end; margin-left: auto;}

    span, a { border-radius: 3px;}

    span { display: block; margin: 0; text-decoration: none; width: auto; color: $text; padding: 14px;
        &:first-child { padding: 10px 12px 10px;}
    }

    a { padding: 10px 12px 10px; display: block; margin: 0; text-decoration: none; width: auto; color: $text;
        &:first-child { padding: 10px 12px 10px;}
        &:hover { background: $primary; color: #fff;}
    }

    .current__page { padding: 10px 12px 10px; background: $primary; color: #fff;}
}
